<div class = "videos">
   <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <iframe width="370" height="260" style="margin:20px" src="https://www.youtube.com/embed/FxlbbJpw2k0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <iframe width="370" height="260" style="margin:20px" src="https://www.youtube.com/embed/-biRmo5hJOM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <iframe width="370" height="260" style="margin:20px" src="https://www.youtube.com/embed/TnsMMcjda2M" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <iframe width="370" height="260" style="margin:20px" src="https://www.youtube.com/embed/wFRiu4c2vOI" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <iframe width="370" height="260" style="margin:20px" src="https://www.youtube.com/embed/iDU6K010R0k" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <iframe width="370" height="260" style="margin:20px" src="https://www.youtube.com/embed/aMcR3wNtqf0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
           <iframe width="370" height="260" style="margin:20px" src="https://www.youtube.com/embed/63Ifq-o6S-M" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
           <iframe width="370" height="260" style="margin:20px" src="https://www.youtube.com/embed/VwhMXK5AtL8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
  </div>
</div>

