// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button {

    position: relative;
    right: 0px;
    bottom: -10px;
}
#style_image {
   position: relative;
}